@media only screen and (min-width : 1000px) {

  #seccion{
    max-width: 30%;
    margin-top: 4%;
  }

  #img{
    max-width: 100%;
    height: auto;
  }

  .logo-letras{
    font-size: 2rem;
  }

}

@media only screen and (min-width: 321px) and (max-width: 997px){

  #seccion{
    max-width: 100%;
    margin-top: 4%;
  }

  #img{
    width: 100%;
    height: auto;
  }

  #row{
    width: 100%;
  }

  .logo-letras{
    font-size: 1rem;
  }
}

body{
  text-align: center;
}

.navbar-fixed{
  background-color: #95113E;
  display: flex;
  align-items: center;
}

.logo {
  width: 70%;
  margin-left: 5%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo-img {
  margin-right: 10%;
  display: flex;
  justify-content: center;
}

.logo-letras {
  color: white;
  display: flex;
  justify-content: center;
  font-style: bold;
}
