li a{
  border-radius: 100px;
}

#li-center{
  display: flex;
  justify-content: center;
}

#option1,#option2,#option3,#option4{
  width: 80%;
  height: 20%;
  margin-bottom: 2%;
}
#option5:hover,#option1:hover,#option2:hover,#option3:hover,#option4:hover{
  background-color: #95113E;
}
